html {
    font-size: 125%;
}

.wrapper {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
}


ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}


