header {
    background-size: cover;
    min-height: 100vh;
    .wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
    }

    ul {
        display: flex;
        justify-content: space-between;
    }

    a {
        padding: 10px;
    }

    a:hover,
    a:focus {
        color: $darkGreen;
    }
}


.homeHeader {
    background: url(../assets/home-1.jpeg) center no-repeat;
}

.contactHeader{
    background: url(../assets/contact-1.jpeg) no-repeat;
    min-height: 75vh;
}


.blogHeader {
    background: url(../assets/blog-1.jpeg) no-repeat;
    min-height: 75vh;
}


.shopBag {
    position: relative;
}

.two {
    background-color: $darkGreen;
    border-radius: 50%;
    border: 1px solid $darkGreen;
    padding: 1px 3px;
    color: $white;
    font-weight: bold;
    position: absolute;
    right: 0px;
    top: 0px;
}

// .hamburger {
//     position: fixed;
//     right: 50px;
//     bottom: 50px;
//     z-index: 999;
//     width: fit-content;
//     padding: 20px;
//     background-color: $darkGreen;
//     i {
//         font-size: 2rem;
//     }
// }


