.mainSection {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 50%;

        .recipe {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
        }

        .lettuce {
            max-width: 50%;
        }

        .tacos {
            max-width: 50%;
        }

        .menu {
            max-width: 50%;
        }
    }

    button {
        width: 180px;
        height: 35px;
        background-color: $darkGreen;
        color: $white;
        text-transform: uppercase;
        font-size: 0.6rem;
    }
}

hr {
    background-color: $darkGreen;
    border: 2px solid $darkGreen;
    border-radius: 2px;
    width: 70px;
}

.menu {
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    li {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 20px 0;
        p, h3 {
            margin: 0;
            padding: 5px 0;
        }
    }
}

.restaurants {
    margin: 150px;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    h2 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}    

.fancy {
    position: relative;
}

.stamp{
    position: absolute;
    top: -50px;
    right: -50px;
}


.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    li {
        flex-basis: calc(100% / 3);
    }
}


.testimonials {
    background-color: $lightGreen;
    height: 500px;
    margin-top: -1rem;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    p {
        width: 75%;
        font-size: 1.2rem;
        text-align: center;
        font-style: italic;
        line-height: 100%;
    }
    
    p::before {
        content: '“';
        font-size: 5rem;
        color: $white;
        position: relative;
        left: -5%;

    }

    p::after {
        content: '”';
        font-size: 5rem;
        color: $white;
        position: relative;
        right: -60%;
    }

    .arrows {
        color: $white;
    }

}

