/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
        header {
            .wrapper {
                display: flex;
                flex-direction: column;
            }
            ul {
                display: flex;
                flex-direction: column;
            }
        }

        .mainSection {
            .wrapper {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-basis: 100%;

                .recipe {
                    
                }
            
                .lettuce {
                    img {
                        display: inline-block;
                        padding: 10px 0;
                    }
                }
            
                .tacos {
                    img {
                        padding: 10px 0; 
                        display: inline-block;
                    }
                }
            
                .menu {
                    ul {
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }
            }
        }

        .testimonials {        
            p {
                font-size: 1rem;
            }
        
            p::before {
                font-size: 3rem;
                left: -5%;
        
            }
        
            p::after {
                font-size: 3rem;
                right: 150px;
            }
        }

        .topFooter {
            flex-direction: column;
            flex-basis: 100%;
            .delicious {
                width: 100%;
            }
            .recentPosts {
                width: 100%;
            }

            .subscribe {
                width: 100%;
                span {
                    top: 115px;
                }
            }
        }
        
}

/* Landscape phones and down */
@media (max-width: 320px) {
    header {
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: wrap;

        }
        ul {
            display: flex;
            flex-direction: column;
        }
    }       
    .mainSection {
        .wrapper {
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            flex-basis: 100%;

            .recipe {
                width: 100%;
            }
    
            .lettuce {
                img {
                    display: inline-block;
                    padding: 10px 0;
                }
            }
    
            .tacos {
                img {
                    display: inline-block;
                    padding: 10px 0;
                }
            }
    
            .menu {
                ul{
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .testimonials {
        p {
            font-size: 1rem;
        }
        
        p::before {
            font-size: 3rem;
            left: -5%;
        }
        
        p::after {
            font-size: 3rem;
            right: 150px;
        }
    }

    .topFooter {
        flex-direction: column;
        flex-basis: 100%;
            
        .delicious {
            width: 100%;
        }
            
        .recentPosts {
            width: 100%;
        }
            
        .subscribe {
            width: 100%;
            span {
                top: 115px;
            }
        }
    }
}    

