@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
        header {
            .wrapper {
                display: flex;
                flex-direction: column;
            }
            ul {
                display: flex;
                flex-direction: column;
            }
        }
}

/* Landscape phones and down */
@media (max-width: 320px) {
    header {
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: wrap;

        }
        ul {
            display: flex;
            flex-direction: column;
        }
    }       
    .mainSection {
        .wrapper {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            // flex-basis: 0;
            // margin: 50px;
            // padding: 50px;
            .recipe {

            }
    
            .lettuce {
                align-self: center;
            }
    
            .tacos {
                align-self: center;
            }
    
            .menu {
                ul{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}    
