
h1, h2, h3, h4, h5, a {
    font-family: $headingFont;
    text-transform: uppercase;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-size: 0.8rem;
    color: $black;
}

h1 {
    font-size: 2.3rem;
    color: $black; 
    letter-spacing: 1.1px;  
    margin: 0;
}

h2 {
    font-size: 2rem;
    color: $black;
    letter-spacing: 0.5px;
}

h3 {
    font-size: 1rem;
    color: $blackTwo;
}

h4 {
    font-size: 1rem;
    color: $white;
}

h5 {
    font-size: 1.5rem;
    color: $darkGreen;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

p {
    font-family: $bodyFont;
    letter-spacing: 0.3px;
    color: $brownGrey;
    font-size: 0.6rem;
}








