/* _variables.scss */

/* site fonts */

// font-family: 'Lora', serif;
// font-family: 'Raleway', sans-serif;

$headingFont: "'Raleway', sans-serif;";
$bodyFont: "'Lora', serif;";

// 1 rem = 20px */
$baseFontSize: 1rem;

/* site colours */
$black: #2E2E2E;
$blackTwo: #333333;
$brownGrey: #999999;
$white: #F6F6F6;
$lightGreen: #c5e384;
$darkGreen: #00b300;

