
$headingFont: 'Raleway', sans-serif;
$bodyFont: 'Lora', serif;


$baseFontSize: 1rem;


$black: #333333 ;
$blackTwo: #2E2E2E;
$brownGrey: #999999;
$white: #F6F6F6;
$lightGreen: #c5e384;
$darkGreen: #00b300;
$background : #ebebeb;


