@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* _variables.scss */
/* site fonts */
/* site colours */
/* 1.2 rem Produces 24px : 20px * 1.2 */
h1, h2, h3, h4, h5, a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #333333;
}

h1 {
  font-size: 2.3rem;
  color: #333333;
  letter-spacing: 1.1px;
  margin: 0;
}

h2 {
  font-size: 2rem;
  color: #333333;
  letter-spacing: 0.5px;
}

h3 {
  font-size: 1rem;
  color: #2E2E2E;
}

h4 {
  font-size: 1rem;
  color: #F6F6F6;
}

h5 {
  font-size: 1.5rem;
  color: #00b300;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

p {
  font-family: "Lora", serif;
  letter-spacing: 0.3px;
  color: #999999;
  font-size: 0.6rem;
}

html {
  font-size: 125%;
}

.wrapper {
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

header {
  background-size: cover;
  min-height: 100vh;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header a {
  padding: 10px;
}
header a:hover {
  color: #00b300;
}

.homeHeader {
  background: url(../assets/home-1.jpeg) center no-repeat;
}

.contactHeader {
  background: url();
}

.blogHeader {
  background: url();
}

.mainSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.mainSection .wrapper .recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}
.mainSection .wrapper .lettuce {
  max-width: 50%;
}
.mainSection .wrapper .tacos {
  max-width: 50%;
}
.mainSection .wrapper .menu {
  max-width: 50%;
}
.mainSection button {
  width: 180px;
  height: 35px;
  background-color: #00b300;
  color: #F6F6F6;
  text-transform: uppercase;
  font-size: 0.6rem;
}

hr {
  background-color: #00b300;
  border: 2px solid #00b300;
  border-radius: 2px;
  width: 70px;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}
.menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding: 20px 0;
}
.menu li p, .menu li h3 {
  margin: 0;
  padding: 5px 0;
}

.restaurants {
  margin: 150px;
}
.restaurants .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.restaurants h2 {
  text-align: center;
}
.restaurants p {
  text-align: center;
}

.fancy {
  position: relative;
}

.stamp {
  position: absolute;
  top: -50px;
  right: -50px;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.images li {
  -ms-flex-preferred-size: 33.3333333333%;
      flex-basis: 33.3333333333%;
}

.testimonials {
  background-color: #c5e384;
  height: 500px;
  margin-top: -1rem;
}
.testimonials .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonials p {
  width: 75%;
  font-size: 1.2rem;
  text-align: center;
  font-style: italic;
  line-height: 100%;
}
.testimonials p::before {
  content: "“";
  font-size: 5rem;
  color: #F6F6F6;
  position: relative;
  left: -5%;
}
.testimonials p::after {
  content: "”";
  font-size: 5rem;
  color: #F6F6F6;
  position: relative;
  right: -60%;
}
.testimonials .arrows {
  color: #F6F6F6;
}

.topFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333333;
  -ms-flex-preferred-size: 33.3333333333%;
      flex-basis: 33.3333333333%;
}

.delicious {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 23.3333333333%;
}
.delicious h5 {
  margin: 0;
}
.delicious p {
  width: 80%;
}

.recentPosts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 23.3333333333%;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 23.3333333333%;
  margin-top: -3rem;
}
.subscribe ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: -2.5rem;
}
.subscribe ul li {
  margin: 0 10px;
}
.subscribe ul li i {
  color: #F6F6F6;
}

.email {
  background-color: #999999;
}

footer {
  background-color: #333333;
}

.topFooter .delicious p {
  border-bottom: 1px solid #999999;
  padding: 5px 0;
}
.topFooter .recentPosts p {
  border-bottom: 1px solid #999999;
  padding: 5px 0;
}

.bottomFooter {
  margin-top: -1rem;
  background-color: #2E2E2E;
}
.bottomFooter .wrapper p {
  font-size: 0.6rem;
  color: #999999;
  padding: 15px;
}
.bottomFooter .wrapper p span {
  text-transform: uppercase;
  color: #00b300;
}